@import 'tailwindcss';

@import 'flowbite';

@theme {
  --color-primary: #a073fa;
  --color-secondary: #1f1d37;
  --color-black: #080711;
}

* {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
